:root {
  --warna1: #edf2f7;
  --warna2: #ffcf54;
  --warna3: #ffdf99;
  --warna4: #2b2b29;
  --warna5: #e2e8f0;
  --warna6: #2d3748;
}

#nav .container {
  background-color: var(--warna5);
  padding: 10px;
  margin-top: 0;
  transition: 1s;
}
.navbar {
  padding-top: 0 !important;
}
.navbar-brand {
  color: var(--warna6) !important ;
}
.nav-item {
  margin: 0px 35px;
}
.nav-link {
  color: var(--warna6) !important ;
  font-weight: 550;
}
.nav-link:hover {
  color: var(--warna2) !important;
}
#nav .btn-demo {
  background-color: var(--warna2);
  border-radius: 8px;
  font-weight: 600;
  color: #4a5568;
  transition: 0.5s;
}

#nav .btn-demo:hover {
  background-color: var(--warna4);
  color: #fff;
}

#nav .scrolltop {
  background-color: #edf2f7 !important;
  padding: 20px !important;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 991.98px) {
  .navbar {
    background-color: var(--warna4);
  }
  #nav .container {
    background-color: var(--warna4);
  }
  .navbar-collapse {
    background-color: var(--warna4);
  }
  .navbar-brand {
    color: white !important ;
  }
  .nav-link {
    color: white !important ;
    font-weight: 550;
  }
}
