:root {
  --warna1: #edf2f7;
  --warna2: #ffcf54;
  --warna3: #ffdf99;
  --warna4: #2b2b29;
  --warna5: #e2e8f0;
  --warna6: #2d3748;
}

#nav .container-lg {
  background-color: var(--warna5);
  padding: 10px;
  margin-top: 0;
  transition: 1s;
}
#nav .navbar {
  padding-top: 0 !important;
}
#nav .navbar-brand {
  color: #2d3748 !important ;
}
#nav .nav-item {
  margin: 0px 35px;
}
#nav .nav-link {
  color: #2D3748 !important ;
  font-weight: 600;
  font-size: 18px;
}
#nav .nav-link:hover {
  color: #ffa600 !important;
}
#nav .btn-demo {
  background-color: var(--warna2);
  border-radius: 8px;
  font-weight: 600;
  color: #4a5568;
  transition: 0.5s;
}

#nav .btn-demo:hover {
  background-color: var(--warna4);
  color: #fff;
}

#nav .scrolltop {
  background-color: #edf2f7 !important;
  padding: 20px !important;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
}

#nav .scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
#nav .scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
#nav .navbar-toggler {
  border-color: rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0 !important;
  outline: none !important;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  #nav .nav-item {
    margin: 0px 25px;
  }
  #nav .nav-link {
    color: #2D3748 !important ;
    font-weight: 600;
    font-size: 13px;
  }
  #nav .btn-demo{
    width: 103px;
    height: 50px;
    font-size: 11px;
    font-weight: 700;
  }
  #nav .scrolltop {
    padding: 15px !important;
  }
}
@media (max-width: 991.98px) {
  #nav .container-lg {
    background-color: #edf2f7 !important;
  }
  #nav .navbar-collapse {
    background-color: #edf2f7 !important;
  }
  #nav .nav-link {
    color: #2D3748 !important ;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
  }
  #nav .scrolltop {
    background-color: #edf2f7 !important;
    padding: 20px !important;
    border-radius: 0 0 0 0;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
  }
  #nav .nav-item{
    border-color: #DFE6ED;
    border-bottom-style: solid ;
  }
  #nav .nav-item:nth-child(4){
    border-bottom-style: none ;
    margin-bottom: 34.5px;
  }
  #nav .btn-demo{
    width: 344px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 24px;
  }
  .dropdown-toggle::after {
    float: right;
    margin-top: 23px;
  }
}
@media (max-width: 430px) {
  #nav .btn-demo{
    width: 80vw;
  }
}

/* ANIMATION */
/* Icon 1 */

.animated-icon1 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #323232;
height: 4px;
}

.animated-icon1 span:nth-child(1) {

top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}